main {
  margin: 2em auto;
  width: 80%;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  /* height: 38px; */
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid var(--color-grey-darker);
  padding: 0.6em 1em;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

.add-btn {
  font-family: var(--font-main);
  border-radius: 6px;
  border: none;
  background-color: var(--color-black);
  color: var(--color-grey);
  padding: 0 2em;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-btn::before {
  content: '+';
  margin-right: 0.35em;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}
